body {     
	background-color:black;
	//background-image: url('https://github.com/Lang411/LocalWeather/blob/master/Assets/03994_bixbybridgehazydusk_1600x900.jpg?raw=true');     
	//background-repeat: no-repeat;     
	//background-size: 100%; 
	
}

h1 {
	font-size:100px;
	color:white;
}

h4 {
	//font-size:75px;
	color:white;

}
h2	{
	color:white;
}

#well {
	!background-color:black;
}
