body {
	background-image: url('file:///C:/Users/lkenney/Desktop/CODE/Local%20Weather/03994_bixbybridgehazydusk_1600x900.jpg');
	background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
	font-size:100px;
	color:white;
}
